body {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(34,34,55,1) 68%, rgba(31,35,36,1) 100%);
    margin: 0;
    padding: 0;
    margin-top: 0;
    margin-right: 0;
}

.video-paradise {
    width: 1265px;
    height: 630px;
    margin-top: 114px;
    border-radius: 10px;
    border: 2px solid rgba(48, 12, 226, 0.637);
}